body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.voting-container {
  background: white;
  padding: 30px 25px;
  border-radius: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 720px;
  height: 1270px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.candidate {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.candidate label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.candidate img {
  width: 100px;
  height: auto;
  margin-right: 20px;
  border-radius: 50%; /* Circular images */
}

#selected-option {
  text-align: center;
  font-weight: bold;
  display: none;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px; /* Rounded button */
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
